body {
	margin: 0;
	padding: 0;
	background: purple;
}
h1 {
	position: absolute;
	left: 10%;
	top: 10%;
	transition: .9s;
}
.mytoggle {
	position: absolute;
	top: 20%;
	left: 10%;
	transform: translate(20%,20%);
}
input[type= "checkbox"] 
{
	position: relative;
	width: 80px;
	height: 40px;
	-webkit-appearance: none;
	background: #c6c6c6;
	border-radius: 20px;
	

}
input:checked[type="checkbox"] 
{
	background: #32CD32;
}
input[type="checkbox"]:before
{
	content: '';
	position:absolute;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	top: 0;
	left: 0;
	background: #fff;
	transform: scale(1.2);
	box-shadow: 0 2px 5px grey;
	transition: .5s;
}
input:checked[type="checkbox"]:before
{
	left: 40px;
}
